{% extends 'base.html' %}
{% load static %}

{% block title %} 授業支援サイト{% endblock %}
{% block subtitle%} ログイン {% endblock %}
{% block body %} 
<h1>ログインメニュー</h1>
<p>教員か生徒でログイン方法が変わります。</p>
<input type="button" id="jump_login" value="先生向けログインページ" onclick="login_teachers()">
<input type="button" id="jump_login" value="生徒向けログインページ" onclick="login_students()">
<div id="login_menu">
</div>
<a href="{% url 'class_support_app:register_student'%}">gegrege</a>
<script src="{% static 'js/login.js'%}">
{% endblock %}