{% extends 'base.html' %}
{% load static %}
{% block title %} 授業支援サイト{% endblock %}
{% block subtitle%} メイン {% endblock %}
{% block body %}

<h1>簡単！席替え</h1>
<article class="seki_art">
<div class="sekigae">
  縦の列 最大:99 <input type="text" id="tate" value="1" maxlength="2"><br>
  横の列 最大:9  <input type="text" id="yoko" value="1" maxlength="1"><br>
  <!--席の生成-->
  <input type="button" id="button" value="席を作る" onclick="MasGene()"><br>
  <!--席のシャッフル-->
  <input type="button" id="names" value="シャッフル" onclick="Shuffle()"><br>
  <!--CSV出力-->
  <input type="button" id="downloads" value="名前を出力" onclick="out_put()"><br>
  <!--CSV読み込み-->
  csvを読み込む<br>
  <input type="file" id="file_input" value="csvを読み込む" onchange="change_csv(this)"><br>
  <br>
    <input type="text" id="search-text" placeholder="検索番号を入力",value="">
    <br><input type="button" id="names_seach" value="検索" onclick="search()">
    <input type="button" id="reset" value="リセット" onclick="Resets()">
  <br>
  <br>
  <div id="seki_dec">
  </div><br>

  <div id="the_result">
  </div>
  <div id="search_result">
    </div>

<div id="seki_list" >
</div>
</div>

<div class="seki_apps">
  <h1>座席モデル</h1>
  <div class="seki_tables">
    <div id="seki_model" >
      <!--席のモデル用-->
      縦と横の列を決めて「席を作る」を<br>
      クリックすると席一覧のモデルが生成されます<br>
    </div>
    <div id="seki_out">
      <!--席替え後の出力用-->
      「シャッフル」をクリックすることで、<br>
      自動的に席替えが開始されます。<br>
    </div>
    <div><!--席テーブルここまで-->
    
</div>
</article>
<script src="{% static 'js/sekigae.js'%}"></script>
{% endblock %}