{% extends 'base.html' %}
{% load static %}
{% block title %} 授業支援サイト{% endblock %}
{% block subtitle%} 電卓検定計測 {% endblock %}
{% block body %}

<div class="openbox">
  <label for="pushlabel">▼ テンプレート設定</label>
  <input id="pushlabel" class="inputcss" type="checkbox" />
  <span class="boxshow">
  <ul>
  <li>
    <a href="{% url 'class_support_app:timer_kentei'%}">電卓検定計測</a>
  </li>
  <li>
    <a href="{% url 'class_support_app:timer_aocc_kagen'%}">AOCC計測</a>
  </li>
  </ul>
  </span>
  </div>

<div align="center" id="timera">
  <h1>電卓検定計測</h1><br>

  <canvas id="canvas" width="800" height="400" style="background-color: #8f9fc;">
    </canvas><br>
    <br>

<input type="button" id="button" value="計測開始" onclick="setTime()">
<input type="button" id="button" value="停止" onclick="stop()"><br><br>
<script src="{% static 'js/timer/dentaku_timer.js'%}">
{% endblock %}