{% extends 'base.html' %}
{% load static %}
{% block title %} 授業支援サイト{% endblock %}
{% block subtitle%}タイマーページ{% endblock %}
{% block body %}

<div class="openbox">
  <label for="pushlabel">▼ テンプレート設定</label>
  <input id="pushlabel" class="inputcss" type="checkbox" />
  <span class="boxshow">
  <ul>
  <li>
    <a href="{% url 'class_support_app:timer_kentei'%}">電卓検定計測</a>
  </li>
  <li>
    <a href="{% url 'class_support_app:timer_aocc_kagen'%}">AOCC計測</a>
  </li>
  </ul>
  </span>
  </div>

<div align="center" id="timera">
  <h1>計測タイマー</h1><br>

  <canvas id="canvas" width="800" height="400" style="background-color: #8f9fc;">
    </canvas><br>
<h3>時間設定</h3>
開始<input type="text"  id="min" value="0" maxlength="3">分  <input type="text" id="sec" value="0" maxlength="2">秒 <br>
<h3>アラート設定</h3>
残り<input type="text" id="min_1" value="0" maxlength="3">分 <input type="text" id="sec_1" value="0" maxlength="2">秒<br>
残り<input type="text" id="min_2" value="0" maxlength="3">分 <input type="text" id="sec_2" value="0" maxlength="2">秒<br>
残り<input type="text" id="min_3" value="0" maxlength="3">分 <input type="text" id="sec_3" value="0" maxlength="2">秒
<br><br>

<input type="button" id="button" value="計測開始" onclick="setTime()">
<input type="button" id="button" value="停止" onclick="stop()"><br><br>

<h1>説明</h1>
<div id="descri">
  <h4>
  1. 
  時間設定は、計測を行いたい時間を設定できます。<br>
  最大999分60秒まで計測が可能です<br>
  2. 
  アラート設定は、途中経過の合図を出したいときに<br>
  設定を行ってください。<br>
  最大3つまで設定できます<br>
  </h4>
</div>

<script src="{% static 'js/timer/main_timer.js'%}">
{% endblock %}